<div id="menu">
  <img id="sample" src="img/sample.png" />
  <p>
    Blokus is played on a 20x20 board. Everyone gets 21 shapes to place. Players
    play in a clockwise or counterclockwise rotation, with every player placing
    down 1 piece each turn. On the first turn players must place their pieces in
    the corners. Subsequent pieces must be played with only corner to corner
    contact with their own pieces. When a player cannot place a piece, he or she
    passes, and play continues. The game ends when no one can place a piece.
  </p>
  <div id="loading">
    <i class="fa fa-spin fa-cog"></i> Searching for a match...<br />
    <div id="player-blocks">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <input
    type="text"
    id="username"
    placeholder="Your Name"
    autocomplete="off"
    maxlength="32"
  />
  <button id="start">Start</button>
</div>
