<div id="info">
  <div class="title">Scoreboard</div>
  <table>
    <tr class="player blue">
      <td class="name">Player</td>
      <td class="score">0</td>
    </tr>
    <tr class="player yellow">
      <td class="name">Player</td>
      <td class="score">0</td>
    </tr>
    <tr class="player red">
      <td class="name">Player</td>
      <td class="score">0</td>
    </tr>
    <tr class="player green">
      <td class="name">Player</td>
      <td class="score">0</td>
    </tr>
  </table>
</div>
