<mat-card>
  <app-grid [grid]="grid"></app-grid>
  <mat-card-content>
    <h3>timer : {{ value }}</h3>
    <mat-slider
      class="example-margin"
      min="1"
      max="5"
      step="1"
      (change)="onChange($event)"
    >
    </mat-slider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onSpacePress()">
      {{ textButton | async }}
    </button>
    <button mat-raised-button (click)="onReset()">RESET</button>
  </mat-card-actions>
</mat-card>
